#topbar{
    background-color: #252323;
   
}
#topbar i{
    color: #c1c1c1;
    padding-left: 15px;
    font-size: 20px;
}

@media only screen and ( max-width : 430px) {
    #topbar i{
        
        padding-left: 5px;
        
    }

    
}

#navbar{
    background-color: white;
    color: #9a9a9a;
    padding-top: 3%;
    padding-bottom: 3%;
}
#homenav li a:hover {
    color: rgb(49, 206, 206)  ; 
}

#homenav{
    padding-left: 8%;
}

#navsearch{
    padding-right: 8%;

}
#navsearch button{
    position: relative;
    right: 5%;
    border-left: 0px !important;
    border-radius: 0%;
    border: 1px solid rgb(109, 107, 107);
}
#navsearch input{
    border-right: 0px !important;
    border: 1px solid rgb(109, 107, 107);
    border-radius: 0%;

}

#screenimg i{
    font-size: 100px;
    color: #9a9a9a;

}
#pen{
    color: rgb(29, 139, 139) !important;
}
#paddingbottom{
    margin-top: 5%;
}

#Imagess  h6{
    padding-top: 4%;
}
#Imagess{
    padding-top: 5%;
    background-image: url("../Images/bg.png");
    background-size: 100%;
    /* background-repeat: no-repeat; */
}
@media only screen and (max-width : 820px ){
    #Imagess{
        
        background-image: none;
       
    }
    
}
@media only screen and (max-width : 768px ){
    #Imagess{
        
        background-image: none;
    
       
    }
    .contentt{
       text-align: center;
    }
    
}

#CMPlogo img{
   padding-top: 20%;
   padding-bottom: 20%;
}
#About{
    background-color: #514f4d;
    
    
}
#About h3{
    color: #f5f5f5;
}
#About  hr{
    color: white;
}
#About p{
    color: #acabac;
}
#About div{
    padding-top: 5%;
   padding-bottom: 5%;
    
}
#About i{
    color:#05b3bf;
}

#bottombar i{
    color: #c1c1c1;
    padding-left: 15px;
    font-size: 20px;
}
#bottombar{
    background-color: #262124;
}

#bottombar p{
    color: #a4a4a4;
}

@media only screen and (min-width: 765px ) and ( max-width : 1087px) {
    #About p{
       font-size: 10px;
    }
}


#iconlast{
    margin-left: 5%;
}
@media only screen and ( max-width : 430px) {
    #bottombar i{
        
        padding-left: 5px;
        
    }

    
}
b{
    color: white;
    font-size: 20px;
    font-weight: 400 !important;
}